<h1> Discounts </h1>
<% @merchant.discounts.each do |discount| %>
  <article id="discount-<%=discount.id%>">
    <p><%=discount.percent%>% discount on <%=discount.amount%> or more items. </p>
    <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit" %>
    <%= link_to "Delete Discount", "/merchant/discounts/#{discount.id}", method: :delete%>
  </article>
<%end%>
<%= link_to "New Discount", "/merchant/discounts/new" %>
